<!DOCTYPE html>
<html>
<head>
  <title>Qstat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
	<%= image_tag("berkeley-logo.png", :alt => "berkeley-logo") %>
	<%= yield %>

	<p>Please email administrator if you encounter any issues: yinkaojo@berkeley.edu </p>
	<div id="footer">
		<center><p id="copyright">Copyright &copy; 2014 Molecular Graphics and Computation Facility, College of Chemistry, University of California, Berkeley</p>
	</div>
</body>
</html>
